

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Same color across all pages */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

/* Navigation bar at the top */
.navbar {
  background-color: #89d882;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.nav-link:hover {
  color: #09581d;
}

.active-tab {
  font-weight: bold;
  color: #ffcc00;
}

/* Page content area */
.content {
  flex-grow: 1;
  padding: 20px;
}

/* Footer */
footer {
  background-color: #021802;
  color: white;
  text-align: center;
  position: fixed;
  padding:10px;
  bottom: 0;
  width: 100%;
}

/* Keep your content area flexible */
.content {
  flex-grow: 1; /* Allows content area to grow and push footer down */
  padding: 20px;
}

